.header{
    border-top: 1px solid black;
    height:80px;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo span{
    font-weight: bolder;
    text-decoration: none;
    color:var(--color-font);
    
}
.menu{
    display: flex;
    list-style-type:none;
}
.menu li{
    margin-right:30px;
    color:var(--color-font); 
    font-size: 15px;
    text-decoration: none;
}

.searchbar input{
    border:none;
    background-color: var(--color-bg);
    padding:10px 30px;
    width:400px;
}
.searchbar{
    position: relative;
}
.searchbar i{
    position:absolute;
    left:10px;
    top:32%;
}
.admin span{
    font-weight: bold;
}

@media screen and (max-width:769px) {
    
}