.user{
    display: flex;
    align-items: center;

}
.user div{
    margin-left: 10px;
}
.user i{
    font-size: 15px;
}
.ansbody{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ansuser{
    display: flex;
    
    justify-content: space-between;
    flex-direction: column;
}
.quedetailscon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}